.text-input-wrapper {
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

#mainDiv {
  padding: 50px;
}

.title {
  display: flex;
  justify-content: center;
}

.sign-up-text-input .MuiFormControl-root {
  width: 200px;
  margin: 5px auto;
}

.sign-up-button {
  width: 200px;
  margin: 5px auto;
  position: relative;
  left: 35px;
}

.sign-up-wrapper {
  width: 80%;
  margin: 0 auto !important;
}
