.text-input {
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

#mainDiv {
  padding: 50px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.search-user-button {
  margin: 0 auto;
  position: relative;
  left: 50px;
}
