.home {
  &-content-wrapper {
    display: flex;
  }

  &-drawer {
    margin-top: 200px;
  }

  &-projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
  }

  &-project-add-btn {
    width: 30vw;
  }

  &-title {
    text-align: center;
  }

  &-add-project-btn {
    display: flex;
    justify-content: center;
  }
  &-add-project-btn--single {
    display: flex;
    justify-content: start;
  }
}

.empty-projects-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.MuiDrawer-paperAnchorDockedLeft {
  margin-top: 63px;
}
