.home {
  &-content-wrapper {
    display: flex;
  }

  &-drawer {
    margin-top: 200px;
  }

  &-projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
  }

  &-project-add-btn {
    width: 61vw;
  }

  &-title {
    text-align: center;
  }

  &-add-project-btn {
    display: flex;
    justify-content: center;
  }
}

.MuiDrawer-paperAnchorDockedLeft {
  margin-top: 63px;
}
