.profile-profileDiv {
  margin: 0 auto !important;
  padding: 25px 45px;
  margin-top: 100px;
  border: 1px solid lightgrey;
}

.profile-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.container2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editButton {
  margin-top: 20px;
}

.backButton {
  margin: 0 auto;
  position: relative;
  left: 50px;
  top: 25px;
}

.username {
  width: fit-content;
  color: blue;
}
