.teamcard-members-wrapper {
  display: flex;
  // justify-content: flex-start;
  overflow-x: scroll;
  padding-right: 5px;
  height: 55px;
}

.teamcard-card-media {
  width: 150px;
  cursor: pointer;
}

.teamcard-container {
  display: flex;
  height: 100%;
  padding: 0;
  padding-bottom: 0 !important;
  align-items: stretch;
}
