.login-text-input .MuiFormControl-root {
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 200px;
  margin: 10px auto !important;
}

.outer-wrapper {
  display: flex;
  justify-self: center;
  margin-top: 120px;
  height: 280px;
}

.login-inner-wrapper {
  width: 300px;
  margin: 0px auto !important;
}

.title-wrapper {
  display: flex;
  justify-content: center;
}

.title {
  margin: 10px auto;
  width: fit-content;
  color: blue;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 300px;
}

.button {
  margin: 5px;
}

.password-textfield {
  width: 90%;
}
