.profileDiv {
  margin: 0 auto;
  padding: 25px 45px;
  border: 1px solid lightgrey;
}

.profile-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}


.backButton {
  margin: 0 auto;
  position: relative;
  left: 50px;
  top: 25px;
}

.username {
  width: fit-content;
  color: blue;
}

.sign-up-text-input .MuiFormControl-root {
  width: 200px;
  margin: 5px auto;
}

.profile-page-team-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 400px;
}

.centerProfile {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-teams-container {
  margin: 10px;
  padding: 25px 25px;
  border: 1px solid lightgrey;
}

.project-title {
  margin-top: 10px;
}

.teamcard-image {
  width: 100px;
  cursor: pointer;
}

.team-card-container {
  display: flex;
  height: 100%;
  padding: 0;
  padding-bottom: 0 !important;
  align-items: stretch;
  width: 20vw;
}

.teamcard-div {
  margin-left: 10px;
}