.MuiCard-root {
    margin: 10px;
}

.MuiDialog-paper {
    padding: 10px;
}

.MuiFormControl-root {
    margin: 10px!important;
    padding: 5px;
}

.MuiFormLabel-root.select-label{
    margin-left: 10px;
    text-align: center;
}

.root{
    padding-left: 20px;
    padding-right: 20px;
    height: 90%;
}

#root{
    height: 100vh;
    width: 100vw;
}

.centered {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}

html, body, #app, #app>div {
    height: 100%
  }